 @charset "UTF-8";
 
 body {
        max-height: 1000px;
        min-height: 400px;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fff8fa;
    }

    header {
        background-image: linear-gradient(to bottom, #ec65e5ea, #f860eb);
        padding: 16px;
        text-align: center;
        position: relative;
    }

    header h1 {
        margin: 0;
        color: #ffffff;
        text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.482);

    }

    header a {
        font-size: 1.1em;
        text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.482);
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin-top: 15px;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
        margin-top: 0px;
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff;
    }

    nav a:hover {
        background-color: #470c4475;
        border-radius: 5px;
        padding: 10px;
        transition-duration: 0.5s;
        font-weight: bold;
    }

    section {
        padding: 0.1px;
    }

    footer {
        background-color: #141414d2;
        text-align: center;
        color: #fff;
        padding: 1px;
        position: relative; 
        padding-top: 14px;
    }
    
    a {
        color: rgb(255, 255, 255);
    }
    p {
        font-size: 20px;
        text-align: left;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {

        display: inline-block;
        padding-left: 140px;
        font-size: 1.2em;
    }

#logo {
    height: 98px;
    margin-right: auto;
    margin-top: 5px;
    max-width: 130px; 
    min-width: 60px;

}

#foto-perfil {
    width: 200px;
    float: left; 
    margin-right: 20px; 
    margin-bottom: 15px;
    padding-left: 10px;
}

#sobre {
    background-color: #ff00ea5c;
    height: 380px;
    padding-left: 3px;
    padding-top: 6px;
}

#sobre-trabalho {
    padding-left: 9px;
    background-image: url(imagens/escritorio.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    color: white;
    h2 {
        font-family: serif;
        margin-top: 10px;
    }
    a, p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    a:hover {
        color: red;
        text-decoration: none;
    }
}

#servicos {
    background-color:#ffd7fc;
    padding: 10px;
}

.accordion-item {
    background-color: rgb(255, 206, 247);
    font-size: 1.3em;
}

.accordion-button  {
    background-color:#ffd1fb;
    font-size: 20px;
    margin: 0;
}

.accordion accordion-flush {
    background-color: #BB1EB3;
}

#contato {
    text-align:justify;
    padding-left: 3px;
    padding-top: 4px;
    background-color: #e779e1;
    color: rgb(0, 0, 0);
    #insta { color: #850770; font-size: 25px;}
    
}

.onde-atendo {
    color: black;
    background-color: white;
    width: 189px;
    border-radius: 15px 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

